*{
    margin:0;
    padding:0;
}
body{
    background: #f6f6f6;
}
.main{
    margin:0 auto;
    width: 94%;
    max-width: 1000px;
}
.navbar{
    background: #fff;
    box-shadow: 0px 0px 5px 0px #ccc;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_start{
    justify-content: flex-start;
}
.logo{
    width: 30px;
    height: 30px;
}
.site_name{
    margin-left:10px;
    color:#555;
}
.navs{
    height: 50px;
    line-height: 50px;
}
.navs .nav{
    float: right;
    margin-left: 10px;
    font-weight: 900;
}
a{
    color:#555;
    text-decoration: none;
}
a:hover{
    color:#555;
}
.post_item{
    margin-top:20px;
    display: flex;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.face{
    margin-right:10px;
}
.full{
    width:100%;
}
code{
    display: block;
    padding: 10px;
    border-radius: 6px;
}
footer{
    text-align: center;
    background: rgb(34, 34, 34);
    padding-top: 20px;
    padding-bottom:20px;
    margin-top:20px;
    color:#999;
}
footer p {
    margin-bottom: 0;
    padding:10px;
}
footer a{
    color:#999;
}